body{
    padding: 10px;
    margin: 0;
    background: none;
}
.main{
    padding: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
}
.menubar{
    width: 1400px;
    height: 100px;
    margin-left: 25px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    text-decoration: none;
}
ul li{
    float: left;
    width: 170px;
    height: 40px;
    line-height: 100px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
    margin-left: 30px;
    
}
ul li a{
    text-decoration: none;
    color: black;
    display: block;

}
ul li a:hover{
    border-radius: 2rem;
    color: red;
    transition: 0.2s ease-in-out;
}
ul  li :active{
    bottom: 2px solid black;
}
.title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(153, 216, 239);
    cursor: pointer;
}

.title h1{
    font-size: 46px;
    margin-top: 20px;
}
.title h2{
    font-size: 32px;
    margin-top: -15px;
}

.form{
    width: 1200px;
    height: 460px;
    text-align: center;
  border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    font-size: 16px;
 background-color: rgba(0, 0, 0, 0.1); /* 50% opaque black */
    margin-left: 8%;

}
.form h1{
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 15px;
    color: rgb(30, 41, 45);
}
.form input[type=text], .form input[type=email], .form input[type=tel], .form input[type=date]{
    width: 1000px;
    height: 30px;
    border-radius: 0.5rem;
    border: 1px solid gray;
    margin-bottom: 20px;
    font-size: 16px;
    padding-left: 10px;
}
.form input[type=submit]{
    width: 150px;
    height: 30px;
    border-radius: 0.5rem;
    border: none;
    background-color: rgb(30, 41, 45);
    color: white;
    font-size: 18px;
    cursor: pointer;
}
ul li .submenu {
    display: none;
    position: absolute;
    left: 0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    z-index: 100;
    margin-top: -30px;
}

ul li:hover .submenu {
    display: block;
}

.submenu li {
    float: none;
    text-align: center;
    margin-left: 0;
    font-size: 18px;
}

.submenu li a {
    color: #333;
    padding-left: 20px;
}

.submenu li a:hover {
    color: #1976d2;
}

.product{
    width: 100%;
    height: 600px;
    display: inline-block;
    margin-top: 50px;
}
.product h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(153, 216, 239);
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 50px;
}

.product h2{
    font-size: 22px;
    font-weight: 400;
    color: rgb(30, 41, 45);
    margin-left: 40px;

}

.form1{
    margin-left: 40px;
    margin-bottom: 30px;
}


.product1{
    gap: 30px;
    display: flex;

}
.product1 .item{
    width: 280px;
    height: 340px;
    border: 2px solid black;
    margin-bottom: 30px;
    margin-left: 40px;
    transition: 4s;
    border-radius: 1rem;
}
.product1 .item:hover{
     box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: 0.2s ease-in-out;
    transform: translate3d(0, -20px, 0);
}

.product1 .item img{
    width: 260px;
    height: 200px;
    margin-left: 20px;
    border-radius: 50rem;
    margin-top: 4px;
    
}
.product1 .item p{
    font-size: 18px;
    text-align: left;
    margin-left: 10px;
    margin-top: 20px;
}
.product2{
    gap: 30px;
    display: flex;

}
.product2 .item1{
    width: 280px;
    height: 340px;
    border: 2px solid black;
    margin-bottom: 30px;
    margin-left: 40px;
    transition: 3s;
    border-radius: 1rem;
}

.product2 .item1:hover{
     box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: 0.2s ease-in-out;
    transform: translate3d(0, -15px, 0);
}
.product2 .item1 img{
   
    width: 240px;
    height: 200px;
    margin-left: 20px;
    border-radius: 50%;
    margin-top: 4px;
    
}
.product2 .item1 p{
    font-size: 18px;
    text-align: left;
    margin-left: 10px;
    margin-top: 20px;
}





.footer{
    width: 100%;
    height: 60px;
    background: black;
    text-align: center;
    color: white;
    font-size: 20px;
    padding-top: 20px;
    margin-top: 28%;
}
