body{
    padding: 10px;
    margin: 0;
}
.main{
    padding: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
}
.menubar{
    width: 1400px;
    height: 100px;
    margin-left: 25px;

}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    text-decoration: none;
}
ul li{
    float: left;
    width: 170px;
    height: 40px;
    line-height: 100px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
    margin-left: 30px;
}
ul li a{
    text-decoration: none;
    color: black;
    display: block;
}

.menubar li a:hover{
    border-radius: 2rem;
    color: red;
    transition: 0.2s ease-in-out;
}

.title{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(153, 216, 239);
    cursor: pointer;
}
.title h1{
    font-size: 46px;
    margin-top: 20px;
}
.title h3{
    font-size: 20px;
    color: #555;
    margin-top: -10px;
}
ul li .submenu {
    display: none;
    position: absolute;
    left: 0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    z-index: 100;
    margin-top: -30px;
}

ul li:hover .submenu {
    display: block;
}

.submenu li {
    float: none;
    text-align: center;
    margin-left: 0;
    font-size: 18px;
}

.submenu li a {
    color: #333;
    padding-left: 20px;
}

.submenu li a:hover {
    color: #1976d2;
}
.contact-section{
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    color: black;
    border-bottom: 4px solid #eee;
}
.contact-section h2{
    font-size: 26px;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color:  #005a9c;
}
.contact-section h4{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}
.contact-section strong{
    font-size: 18px;
    color: black;
    display: inline;
}




.footer{
    width: 100%;
    height: 50px;
    background: rgb(204, 204, 204);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-top: 30px;
}
.footer h3{
    font-size: 18px;
    padding-top: 15px;
}