body{
    padding: 10px;
    margin: 0;
    background: none;
}
.main{
    padding: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
}
.menubar{
    width: 1200px;
    height: 100px;
    margin-left: 25px;

}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    text-decoration: none;
}
ul li{
    float: left;
    width: 170px;
    height: 40px;
    line-height: 100px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
    margin-left: 30px;
}
ul li a{
    text-decoration: none;
    color: black;
    display: block;

}
ul li a:hover{
    border-radius: 2rem;
    color: red;
    transition: 0.2s ease-in-out;
}
.title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(153, 216, 239);
    cursor: pointer;
}

.title h1{
    font-size: 46px;
    margin-top: 20px;
}
.title h2{
    font-size: 32px;
    margin-top: -15px;
}
.title1{
font-family: Arial, Helvetica, sans-serif;
padding-bottom: 30px;
}
.title1 h1{
    font-size: 36px;
}
.title1 h3{
    font-size: 20px;
    font-weight: 100;
    margin-left: 10%;
    margin-top: -15px;
}
.service{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 30px;
    display: inline;

}
.service h1{
    text-align: center;
    font-weight: 200;
    font-size: 30px;
}
.service1{
   display: flex;
   gap: 30px;
}
.service1 .item1{
    width: 280px;
    height: 200px;
    border: 1px solid rgb(204, 204, 204);
    margin-left: 10%;
    border-radius: 1rem;
}
.service1 .item1 h2{
    text-align: center;
    font-size: 26px;
    font-weight: 200;
    margin-top: 15%;
}
.service1 .item1 btn{
    display: block;
    width: 100px;
    height: 30px;
    margin-left: 90px;
    border-radius: 1rem;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.service1 .item1 btn a{
    text-decoration: none;
    color: black;
}

.service1 .item1 btn:hover{
text-decoration: none;
    color: red;
    transition: 0.2s ease-in-out;
}




.service2{
   display: flex;
   gap: 30px;
   margin-bottom: 30px;
}
.service2 .item2{
    width: 280px;
    height: 200px;
    border: 1px solid rgb(204, 204, 204);
    margin-left: 10%;
    border-radius: 1rem;
    margin-top: 6%;
}
.service2 .item2 h2{
    text-align: center;
    font-size: 26px;
    font-weight: 200;
    margin-top: 15%;
}
.service2 .item2 btn{
    display: block;
    width: 100px;
    height: 30px;
    margin-left: 90px;
    border-radius: 1rem;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.service2 .item2 btn a{
    text-decoration: none;
    color: black;
}

.service2 .item2 btn:hover{
text-decoration: none;
    color: red;
    transition: 0.2s ease-in-out;
}

ul li .submenu {
    display: none;
    position: absolute;
    left: 0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    z-index: 100;
    margin-top: -30px;
}

ul li:hover .submenu {
    display: block;
}

.submenu li {
    float: none;
    text-align: center;
    margin-left: 0;
    font-size: 18px;
}

.submenu li a {
    color: #333;
    padding-left: 20px;
}

.submenu li a:hover {
    color: #1976d2;
}



.product{
    width: 1200px;
    height: 530px;
    border: 2px solid #333 ;
    margin-left: 7%;
    margin-top: 30px;
    margin-bottom: 80px;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
}

.product h1{
    margin-left: 20px;
    font-size: 32px;
    font-weight: 400;
    text-transform: capitalize;
    margin-left: 15%;
}
.product p{
    font-size: 26px;
    font-weight: 400;
    margin-left: 16%;
}


video, canvas {
      width: 400px;
      height: 250px;
      border: 2px solid #333;
      border-radius: 8px;
      margin-bottom: 10px;
      margin-right: 30px;
      margin-left: 10%;
    }


button {
      padding: 10px 16px;
      font-size: 22px;
      cursor: pointer;
      margin-top: 30px; 
      margin-right: 20px;
      margin-left: 80px;
      border-radius: 1rem;
      background-color: beige;
     margin-bottom: 20px;
      font-weight: 500;
      border: none;

    }
    button:hover{
        background-color: black;
        color: white;

    }

.section1{
    width: 1440px;
    height: 350px;
    background-color: white;
    border-radius: 1rem;
    border: 2px solid black;
    margin-top: 30px;
    padding: 2px;
    margin-bottom: 130px;
}
.section1 h1{
    font-size: 28px;
    font-weight: 300;
    color: black;
    margin-left: 6px;

}
.pro{
     width: 1200px;
    height: 500px;
    border: 1px solid black;
    border-radius: 1rem;
    margin-left: 7.2%;
        gap: 30px;

}
.product1{
  display: flex;
  gap: 20px;
}
.product1 h1{
    color: black;
    margin-left: 10px;
    display: inline;
}
.product1 .item1{
    width: 320px;
    height: 280px;
    border: 1px solid gray;
    border-radius: 1rem;
    margin-top: 120px;
    margin-left: -160px;
}
.product1 .item1 h3{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
    color: black;
}
.product1 .item2{
    width: 320px;
    height: 280px;
    border: 1px solid gray;
    border-radius: 1rem;
    margin-top: 120px;
    margin-left: 70px;
}
.product1 .item2 h3{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
    color: black;
}

.product1 .item1 button1{
    display: block;
   text-align: center;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    padding-top: 8px;
    padding-bottom: 8px;
}

.product1 .item2 button2{
    display: block;
   text-align: center;
    border-radius: 1rem;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.product1 .item2 button3{
    display: block;
   text-align: center;
    border-radius: 1rem;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.product1 .item1 button1:hover{
   font-size: 28px;

}
.product1 .item2 button2:hover{
   font-size: 28px;
}
.product1 .item2 button3:hover{
    font-size: 28px;
}
.product1 .item1 h1{
    font-size:22px;
    font-weight: 300;
    color: black;
    margin-left: 10px;
    display: inline;

}

.footer{
    width: 100%;
    height: 50px;
    background: rgb(204, 204, 204);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-top: 30px;
}
.footer h3{
    font-size: 18px;
    padding-top: 15px;
}

